@use './variables.scss' as variables;

.tab_item {
	display: flex;
	align-items: center;
	font-size: variables.$font_size_regular;
	gap: 5px;
	padding: variables.$spacing10;
	cursor: pointer;
	border-radius: variables.$border_radius_0;
	margin-bottom: variables.$spacing8;

	&.selected {
		background-color: variables.$primaryColor;
		color: variables.$background;
		&:hover {
			background-color: variables.$primaryColor;
		}
	}

	&:hover {
			background-color: variables.$lighterBackgroundHover;
	}

	& > .tab_item__title {
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 0px 5px;
	}

}

